---
eleventyNavigation: { key: Blog, order: 2 }
title: Blog
---

{% for page in collections.all %}
  {% if page.url.startsWith('/blog/') and page.url != '/blog/' %}
    <a href="{{ page.url }}" role="button" class="outline">
      <h3>{{ page.data.title }}</h3>
      {{ page.data.description }}
    </a>
  {% endif %}
{% endfor %}
