{% set site = pkg.site | merge(site) %}
{% extends 'blades/html.njk' %}

{% set content_for_header %}
  {{ content_for_header | safe }}
  <meta name="generator" content="{{ site.generator }}">
  <style>
    /*TODO: move to blades.ninja.css */
    a[role="button"] {
      text-align: start;
      border-width: 1px 0 0 1px;
      margin: 0 0 0.5rem -1rem;
    }
    /*TODO: move to blades.css */
    .breakout-all > img {
      min-width: auto !important;
    }
    /* Custom styles go below */
    body > nav { padding-block-start: 1rem; justify-content: center }
    body > footer { padding-block-end: 2rem; text-align: center; font-size: medium }
    .borderless {
      th { padding-block-end: 0 }
      pre { padding-block: 0; padding-inline-start: 0; margin: 0 }
    }
  </style>
{% endset %}

{% block body %}
  <nav>{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}</nav>
  <main class="container breakout-all">
    {% if title %}<h1>{{ title }}</h1>{% endif %}
    {% if description %}<p><big>{{ description }}</big></p>{% endif %}
    {{ content | safe }}
  </main>
  <footer><hr>{{ site.footer | safe }} © {{ site.year }}</footer>
{% endblock %}
